/*-- scss:defaults --*/
$font-family-sans-serif: 'Computer Modern Serif', serif;
$font-family-serif: 'Computer Modern Serif', serif;
$headings-font-family: 'Computer Modern Serif', serif;

/*-- scss:rules --*/

/* Serif */
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Sans */
@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunss.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunsx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunsi.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunso.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Typewriter */
@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('fonts/cmuntt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('fonts/cmuntb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('fonts/cmunit.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('fonts/cmuntx.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body, p, li, td, th, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Computer Modern Serif', serif !important;
}

code, pre, .sourceCode {
  font-family: 'Computer Modern Typewriter', monospace !important;
}
